/* #root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
body{
  background: url(./assets/fondo6.jpg);
  background-size: cover;
  background-position: center;
}

h1{
  text-shadow: 0 0 4px #fff;
}

.container{
  width: 40%;
}

.listado-tareas{
  height: 310px !important;
  overflow: scroll;
}

.listado-tareas::-webkit-scrollbar{
  display: none;
}

.btn-complete{
  background-image: linear-gradient(45deg, rgb(13, 86, 48), rgb(19, 187, 162));
}

.btn-danger{
  background-image: linear-gradient(45deg, rgb(132, 0, 26),red) !important;
}

.btn-primary{
  background-image: linear-gradient(45deg, rgb(0, 2, 132),rgb(0, 98, 255)) !important;
}

form, .list-group{
  background-color: #fff;
  box-shadow: 0 0 5px #5b5b5b !important;
}

@media screen and (max-width:720px) {

  .container{
    width: 100%
  }

  .listado-tareas{
    height: 290px !important;
  }

  form{
    /* background-color: red; */
    flex-direction: column;
  }

  .badge{
    display: none;
  }

  .modal-content{
    position: absolute;
    top: 250px;
  }
}